input_path="input"
input_files=["import_users.xlsx"]
competition_code="max"
competition_codes=["min"]
start_id_for_competition_codes=[1001]
preset_users_file="import_preset_users.xlsx"

output_path="output"
output_users_file_text="users.txt"
output_preset_users_file_text="preset_users.txt"
output_all_users_file_spreadsheet="all_users.xlsx"
output_preset_users_file_spreadsheet="preset_other.xlsx"

column_sheet_institution="Institution"
column_sheet_team_name="TeamName"
column_sheet_team_name_full="TeamName"
column_sheet_location="Location"
column_sheet_username="Username"
column_sheet_password="Password"
column_sheet_id="ID"
column_sheet_user_type="UserType"